:root {
  --azul: #4d09fc;
  --fondo: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--fondo);
  font-family: 'Roboto', sans-serif;
}
/*NAVBAR*/
body {
  font-size: 1em;
  min-height: 100vh;
  align-items: center;
 }

.navbar {
  background:black;
  width: 100%;
}

.top-nav-collapse {
  background: black !important;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}
.nav-link:hover {
  color: turquoise;
  transition: all 0.5s;
}
#navbarDropdownMenuLink {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}
#navbarDropdownMenuLink:hover {
  color: turquoise;
  transition: all 0.5s;
}

#menu {
  background: rgba(0, 0, 0, 0.7);
}

/* boton menu */
.navbar-toggler {
  border-color: white;
}
.navbar-toggler:hover {
  border-color: turquoise;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Tabla de Peliculas */

.Contenedor__pelis {
  margin-left: 8%;
  margin-right: 8%;
}

table {
  background-color: rgb(241, 241, 241);
  text-align: left;
  width: 100%;
  font-display: swap;
  font-size: 20px;
  box-shadow: 3px 3px 9px #d4d3d3;
}
 table td{
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 500;
 }
 table th {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
 }

th, td {

border: solid 1px gray;
padding: 30px;

}


thead {

    background-color:  rgb(52, 5, 207);
border-bottom: solid 5px gray;
color: white;
font-size: 20px;
}

tr:nth-child(even) {

    background-color:rgb(0, 32, 61) ;
}

/* tr:hover td {

background-color:rgba(38, 226, 85, 0.4);

} */

/*FORMULARIO EMERGENTE */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1b6ca8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #5295c5;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgb(24, 23, 23);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
/*BOTON VENTANA MODAL*/
#myBtn{
  color: white;
  background: #007bff;
}


/*FORMULARIO*/
 .formulario {
  margin-top: 100px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 100%;
  padding: 20px;
  box-shadow: 0 0 20px 1px black;
  position: relative;
}

.formulario__titulo {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #fff;
} 

/* Boton Enviar */

 .formulario__input,
.formulario__label,
.formulario__submit {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1.3em;

}

.formulario__input {
  background: rgb(1, 30, 53, 0.3);
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 40px;
  color: #fff;
}

.formulario__input:focus {
  outline: 1.5px solid rgb(13, 98, 224);
}

.formulario__input:focus + .formulario__label {
  margin-top: -130px;
}

.formulario__label {
  padding-left: 15px;
  position: absolute;
  margin-top: -90px; 
  z-index: 100;
  transition: all 0.2s;
}

.formulario__submit {
  background-color: rgb(1, 30, 53);
  padding: 20px;
  box-shadow: 0 0 3.5px 1px rgb(34, 34, 34);
}

#formulario__label{
  color: #fff;
}

option{
  background: #1b6ca8;
}

/* js */

.fijar {
  margin-top: -135px;
}


/*Footer */
footer{
  color:#fff;
}
.redes-container {
  display: flex;
  align-items: left;
  justify-content: left;
}

.redes-container li {
  display: inline-block;
  margin: 0 5px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.facebook {
  font-size: 30px;
}

.twitter {
  font-size: 30px;
}
.linkedin {
  font-size: 30px;
}
.instagram {
  font-size: 30px;
}

/*RESPONSIVE NAVBAR*/
/* @media only screen and (max-width: 767px) {
  #iniciar-sesion .nav-link {
  }
  header nav {
  width:80%;
  height:100%;
  left:-100%;
  margin:0;
  position: fixed;
}
header nav ul li {
  display:block;
  float:none;
  border-bottom:1px solid rgba(255,255,255, .3);
}

.menu_bar {
  display:block;
  width:100%;
  background:#ccc;
}

.menu_bar .bt-menu {
  display:block;
  padding:20px;
  background:#024959;
  color:#fff;
  text-decoration:none;
  font-weight: bold;
  font-size:25px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.menu_bar span {
  float:right;
  font-size:40px;
}
}


@media only screen and (min-width: 768px) {
  #iniciar-sesion .nav-link {
    display: inline;
  }
} */
/* .container {
  background-color: #ffffff;
} */

#NuevaPeli {
  color: #fff;
  height: 70px;
  margin-top: 100px;
}

#boton-nuevapeli {
  float: right;
  margin-right: 80px;
}

/*RESPONSIVE TABLA*/
@media screen and (max-width: 800px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}

/*RESPONSIVE NAVBAR*/
@media screen and (max-width: 800px) {
  .dropdown-item{
    text-align: center;
  }
}