.note-input, .note-title {
    background-color: transparent;
    border: 1px solid #6d6d6e;
    border-radius: 6px;
}

.note-form {
    border: solid 1px #6d6d6e;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
      .nav-title-text {
        display: none;
      }
      .category-search {
        width: 100%;
      }
    }